
/*Website Title*/


/*card body styling*/

.card-body{
    background-color:lightblue;
    
}

/*Search btn styling*/
.searchbtn{
    color: black;
    font-weight: bold;
    border-radius: 10px;
    background-color:whitesmoke;
    cursor: pointer;
    flex-grow: 6;
    flex-basis: 120px;
}

.searchbtn:hover{
    transition: 2s;
    color: red;
    
}
input{
    border-radius: 5px;
    border-color: gray;
}

/* Current Day styling */
.today{
    color: brown;
    padding: 25px;
    border-top: 25px;
    border-bottom: 25px;
    border-radius: 5px;
    width: auto;
    font-size: 35px;
    font-weight: bold;
}

.today:hover{
    cursor: pointer;
    color: aliceblue;
    transition: 2s;
    
}

/*Weather cards styling*/

#weather-card{
    background-color: lightgray;
    
}
.card:hover{
    flex-grow: 5;
    cursor: pointer;
    flex-basis: 120px;
    border: 10px solid black;

}

#styling{ /*Styling for the current day card*/
    font-weight: bold;
   
}

#city-display{ /* City Name*/
    font-size: 20px;
}

/*Css with bootstrap*/

.gradient-custom {
/* fallback for old browsers */
background: #ffffff;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1))
}

.carousel-indicators li {
background-color: #282828;
width: 7px;
height: 7px;
border-radius: 50%;
}




/*hidden features*/
.hidden{
    display: none;
}

/* Media Query*/