
/*Website Title*/


/*card body styling*/

.card-body{
    background-color:lightblue;
    
}

/*Search btn styling*/
.searchbtn{
    color: black;
    font-weight: bold;
    border-radius: 10px;
    background-color:whitesmoke;
    cursor: pointer;
    flex-grow: 6;
    flex-basis: 120px;
}

.searchbtn:hover{
    transition: 2s;
    color: red;
    
}
input{
    border-radius: 5px;
    border-color: gray;
}

/* Current Day styling */
.today{
    color: brown;
    padding: 25px;
    border-top: 25px;
    border-bottom: 25px;
    border-radius: 5px;
    width: auto;
    font-size: 35px;
    font-weight: bold;
}

.today:hover{
    cursor: pointer;
    color: aliceblue;
    transition: 2s;
    
}

/*Weather cards styling*/

#weather-card{
    background-color:transparent;
   
    
}
.card:hover{
    flex-grow: 5;
    cursor: pointer;
    flex-basis: 120px;
    border: 10px solid orange;

}

#styling{ /*Styling for the current day card*/
    font-weight: bold;
   
}

#city-display{ /* City Name*/
    font-size: 20px;
}


/*hidden features*/
.hidden{
    display: none;
}

/*  MEDIA QUERY FOR TABLETS AND SMALLER DEVICES*/

@media screen and (max-width: 760px), screen and (max-width:575px) {
  .row {
    height: auto;
    margin-top: 20px;
  }

  .hour {
    padding-right: 17%;
  }

  .saveBtn {
    border: 0;
    border-radius: 0.25rem;
    height: 50px;
  }

  textarea {
    min-height: 85px;
    border: 0;
  }
  
}